.addForm{
    margin-top: 25px;
    margin-bottom: 25px;
    }
    
    
    .addBtn{
    margin-top: 31px ;
    
    }
    
    label{
    font-weight: bold;
    }
    
    .form-row{
    display: block;
    }